body{

    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}


/*This is styling homepage.html*/

#home-navigation{

    text-align: center;
    height: 100vh;
    background-image: url('./img/homepage.jpg');
    padding: 0;
    margin: 0;


}

ul{

    list-style: none;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 0;
    font-weight: 600;
    

}

#gameBackground{

    background-image: url('./img/gamepage.jpg');
    height: 100vh;
    width: 100%;

}

#gameBackground > h2{

    text-align: center;
    color: white;
    transform: translate(0, -50px)

}

#gameBackground > button{

   
    color: white;
    transform: translate(200px,0)

}
.cards{

width: 100px;
height: 150px;
border-radius: 5px;
background: white;

}

#deck{

    float: right;
    background: red;
    transform: translate(-60px, 0);

}

#dealersCard1{

   margin: auto;
   background: blue;
   transform: rotate(-10deg);

}
#dealersCard2{

    margin: auto;
    background: lightblue;
    transform: translate(-50px, -150px) rotate(10deg);

 }

#playersCard1{

    margin: auto;
    background: yellow;
     transform: rotate(10deg);
}

#playersCard2{

    margin: auto;
    background: green;
    transform: translate(-50px, -150px) rotate(-10deg);
}

.playOptions{

color: white;
font-weight: 500;
display: inline-block;


}

.playerOptionButton{

margin: 0 20px 0 20px;
width: 70px;

}

nav > ul {

    text-align: center;

}

nav{
    transform: translate(-23px, -130px);
}




/*This is styling index.html*/

/* header{

    width: 98%;
    border: 1px solid black;

}

#navigation{

    text-align: center;

}
#flex-container{

    width: 98%;
    height: 250px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#flex-container > aside{

    width: 25%;
    border: 1px solid black;
    background: lightcoral;
    text-align: right;
    font-size: 2rem;

}

#question-card{

    width: 50%;
    background: lightgreen;

} 

#score{

    text-align: left;

}

main{

    margin-top: 100px;

}
#flex-answers{

    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 120px;
    margin-top: 39px;
    justify-content: space-around;

}

.answer-choices{


    width: 45%;
    height: 30%;
    text-align: center;
    border: 1px solid black;
    background: lightskyblue;

}
.nav-list{

    display: inline-block;
   
}

#grid-container{

    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr,1fr,1fr;
    border: 1px solid black;

} */