body{

    width: 100%;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
  
}


/*This is styling homepage.html*/

#home-navigation{

    text-align: center;
    height: 100vh;
    background-image: url('./img/homepage.jpg');
    padding: 0;
    margin: 0;


}

ul{

    list-style: none;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 0;
    font-weight: 600;
    

}

#gameBackground{

    background-image: url('./img/gamepagefinal.png');
    height: 100vh;
    width: 100%;

}


.cards{

width: 147px;
height: 232px;
border-radius: 5px;
background: white;

}



.dealerCardContainer{

    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto;
    justify-content: space-between;

}

.playerCardContainer{

    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto;
    justify-content: space-between;

}

#yourWallet{
    background: orange;
    color: white;
    font-size: large;
    display: inline-block;
    font-size: large;
}

#dealerWallet{
    background: orange;
    color: white;
    font-size: large;
}

#betAmount{
    background: orange;
    color: white;
    font-size: large;
}

.playOptions{

color: white;
font-weight: 500;
display: inline-block;


}

.playerOptionButton{

margin: 0 20px 0 20px;
width: 70px;

}

nav{

    display: flex;
    flex-direction: row;
    margin: auto;
    width: 50%;
    justify-content: center;

}
